<!DOCTYPE html>
<html>
	<head>
		<title>{{title}}</title>
	</head>
	<body>
		<ul>
			<!-- @todo: link helper, duplicate content at /en and / -->
			<li><a href="/{{lang}}">Home</a></li>
			<li><a href="/{{lang}}/d2r">Decimal to Roman</a></li>
			<li><a href="/{{lang}}/r2d">Roman to Decimal</a></li>
			<li><a href="/{{lang}}/a2a">Any to any</a></li>
		</ul>

		<h1>{{title}}</h1>

		<div id="main">{{{body}}}</div>

		{{> _footer}}

		{{#if useMinified}}
		<script src="/all.js"></script>
		{{else}}
		<script data-main="/src/app" src="/node_modules/requirejs/require.js"></script>
		{{/if}}

	</body>
</html>